{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add route {% endblock %}

{% block head %}
	{{ form.media }}
{% endblock %}
{% block content_title %}Add Route{% endblock %}
{% block content %}
  {% for message in messages %}
   <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
   </div>
  {% endfor %}

  <form method="post" novalidate>
    {% csrf_token %}
    <table border="1">
    {{ form | crispy }} 	
    </table>
    <button type="submit" class="btn btn-success mb-3">Add</button>
  </form>
{% endblock %}

{% block script %}
  <script>
    console.log(map_options);	  
    $(document).ready(function(){
    });
  </script>
{% endblock %}  
