{% extends 'base.html' %}
{% load static %}

{% block title %}
	<h1>Ewds List</h1>
{% endblock %}

{% block content %}
  <div>
	  <a href="{% url 'add_ewd' %}" class="vtms_buttons">Add New Ewd</a>
	  <a href="{% url 'upload_ewd_data' %}" class="vtms_buttons">Upload Ewd KML</a>
  </div>

  {% if ewds %}
  <table class="table tablesorter">
    <thead class="thead-inverse">
      <tr>
        <th>Ewd</th>
        <th>Name</th>
        <th>Description</th>
        <th align="center">Area</th>
        <th align="center">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for ewd in ewds %}
        <tr>
          <td>{{ ewd.name }}</td>
          <td>{{ ewd.code }}</td>
          <td>this is ewd {{ ewd.name }}</td>
          <td class="area" id="area_{{ewd.pk}}"><img src="{% static 'img/location.png' %}"></td>
          <td>
              <a href="{% url 'edit_ewd' ewd.pk %}" class="vtms_buttons">Edit</a>
              <a id="{{ewd.pk}}" href="#" class="vtms_buttons delete_ewd">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
	<h1>No Ewd Found</h1>
  {% endif %}
  <div id="loadpositionmap" style="display: none;" align="center">
  </div>
{% endblock %}

{% block js %}
	<script>
		let mymap = L.map('loadpositionmap').setView([ 19.122777 ,72.894568] ,12);
		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
		subdomain :['a','b','c']	
		}).addTo(mymap);

		$(document).ready(function(){
			var area;
			$('table').tablesorter({theme:'metro-dark'});
			$("td.area").click(function () {
				if( area ){
					mymap.removeLayer(area);
				}
				ewd_id= $(this).attr('id').split('_')[1];
				$.ajax({
					type:'GET',
					url:'{% url "get_ewd_area" %}',
					data: {
						'id':ewd_id 
					},
					beforeSend: function(xhr) {
						xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}" );
					},
					success:function(res){
						let ewd= JSON.parse(res.ewd_fence);
						area = L.geoJSON(ewd,{
							style: function(feature){
								return {
									color  : 'red',
									weight : 3,
									fillColor: 'black'
								}
							},
							onEachFeature: function(feature,layer){
								layer.bindPopup("<b>ewd : </b>");
							}
						}).addTo(mymap)

						mymap.fitBounds(area.getBounds());
						$("#loadpositionmap").dialog({
							modal: true,
							autoOpen: false,
							title: " Ewd ",
							width: 800,
							height:800
						});
						$("#loadpositionmap").dialog('open');
						mymap.invalidateSize();
					},
					error:function(a,b,c){
						alert(b);
						alert(c);
					}
				});
			});
		});

		$("a.delete_ewd").click(function () {
			var ewd_id = $(this).attr('id');
			$.ajax({
				type:'POST',
				url:'{% url "delete_ewd" %}',
				data: {
					'id':ewd_id 
				},
				beforeSend: function(xhr) {
					xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}" );
				},
				success:function(res){
					alert(res.status);
				},
				error:function(a,b,c){
					alert(b);
					alert(c);
				}
			});
		});

	</script>
{% endblock %}
