{% extends 'base.html' %}
{% load static %}

{% block title %}
	Ward Contractor Mapping 
{% endblock %}
{% block content_title %}Ward Contractor Mapping{% endblock %}
{% block content %}

  <div>
	  <a href="{% url 'add_wcm' %}" class="btn btn-warning  px-3"><b>Assign Contractor To Ward</b></a>
	  <a href="{% url 'upload_ward_contractor_mapping' %}" class="btn btn-info   px-3 ml-2"><b>Upload Ward Contractor Mapping</b></a>
  </div>
  {% if wcms %}
  <table class="table tablesorter">
    <thead class="thead-inverse">
      <tr>
        <th>Ward</th>
        <th>Contractor</th>
        <th>Company</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for wcm in wcms %}
        <tr>
          <td>{{ wcm.ward }} </td>
          <td>{{ wcm.contractor }} </td>
          <td>{{ wcm.contractor.company_name }} </td>
	      <td>
	      <div class="btn-group btn-group-sm">
		      <a href="{% url 'edit_wcm' wcm.pk %}" class="btn btn-info"><i class="fas fa-pen"></i></a>
		      <a id="{{ wcm.pk }}" href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
		      </div>
	      </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  	<h1>No Ward Contractor Mapping Found</h1>
  {% endif %}
  
  </div>
</div>
</div>
</section>
{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){
		$('table').tablesorter({theme:'metro-dark'});
		$("a.delete_wcm").click(function () {
			var wcm_id = $(this).attr('id');
			var $tr = $(this).closest('tr');

			$.ajax({
				type:'POST',
				url:'{% url "delete_wcm" %}',
				data: {
					'id':wcm_id 
				},
				beforeSend: function(xhr) {
					xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}" );
				},
				success:function(res){
					$tr.find('td').fadeOut(1000,function(){
						$tr.remove();
					})	
				},
				error:function(a,b,c){
					alert(b);
					alert(c);
				}
			});
		});
	});
</script>
{% endblock %}
