beautifulsoup4==4.8.2
bootstrap4==0.1.0
Django==2.2.7
django-admin-tools==0.8.1
django-autocomplete-light==3.5.1
django-bootstrap4==1.1.1
django-crispy-forms==1.8.1
django-floppyforms==1.8.0
django-geojson==2.12.0
django-tenant-schemas==1.10.0
django-widget-tweaks==1.4.5
djangorestframework==3.11.0
djangorestframework-gis==0.15
et-xmlfile==1.0.1
fastkml==0.11
geographiclib==1.50
geopy==2.0.0
jdcal==1.4.1
lxml==4.5.0
openpyxl==3.0.3
ordered-set==3.1.1
psycopg2-binary==2.8.4
pygeoif==0.7
python-dateutil==2.8.1
pytz==2019.3
Shapely==1.7.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
xlrd==1.2.0
