{% extends 'base.html' %}
{% load static %}

{% block title %}
	Vehicle Garage Mapping 
{% endblock %}

{% block content %}
  <div>
	  <a href="{% url 'add_vgm' %}" class="vtms_buttons">Assign Vehicle To Garage</a>
  </div>
  {% if vgms %}
  <table class="table tablesorter">
    <thead class="thead-inverse">
      <tr>
        <th>Vehicle</th>
        <th>Garage</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for vgm in vgms %}
        <tr>
          <td>{{ vgm.vehicle }} </td>
          <td>{{ vgm.garage }} </td>
	  <td>
		  <a href="{% url 'edit_vgm' vgm.pk %}" class="vtms_buttons">Edit</a>
		  <a id="{{ vgm.pk }}" href="#" class="vtms_buttons delete_vgm">Delete</a>
	  </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  	<h1>No Garage Vehicle Mapping Found</h1>
  {% endif %}
{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){
		$('table').tablesorter({theme:'metro-dark'});
		$("a.delete_vgm").click(function () {
			var vgm_id = $(this).attr('id');
			var $tr = $(this).closest('tr');

			$.ajax({
				type:'POST',
				url:'{% url "delete_vgm" %}',
				data: {
					'id':vgm_id 
				},
				beforeSend: function(xhr) {
					xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}" );
				},
				success:function(res){
					$tr.find('td').fadeOut(1000,function(){
						$tr.remove();
					})	
				},
				error:function(a,b,c){
					alert(b);
					alert(c);
				}
			});
		});
	});
</script>
{% endblock %}
